@*@page "/myprofile/{id}"*@
@page "/myclasses"
@using WeDancin.Domain.Entities.Accounts
@inject NavigationManager _navigationManager
@inject IUserRepository _userRepository
@inject IUserDetailsRepository _userDetailsRepository

<style>
    /* || PAGE LAYOUT STYLES */
    .page {
        margin-left: var(--sidemenu-collapsed-width);
    }

    header {
        display: flex;
        flex-direction: column;
        padding: 34px 5%;
    }

    .header-bottom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    /* || PAGE ELEMENTS STYLES */
    .search-placeholder {
        border-radius: 15px;
        width: max-content;
        max-width: 30%;
        min-height: 3.5rem;
        font: 400 1rem/1.25rem Lato;
    }
</style>

<SideMenuComponent></SideMenuComponent>

<div class="page">
    <header>
        <div><h4 style="font-weight: 400; margin-bottom: 24px;">Minhas aulas</h4></div>
        <div class="header-bottom">
            <div style="margin-right: 2%;"><button class="light-purple-button edit-button" style="border-radius: 1rem; padding: 0.5em 1em;"><i class="bi bi-calendar-plus"></i>Adicionar nova aula</button></div>
            <a style="margin-right: 12%;"><i class="bi bi-calendar2-week"></i> Sincronizar aulas com minha agenda</a>
            <input type="search" class="search-placeholder on-surface active-placeholder" placeholder="Pesquise por data, modalidade ou nível da aula." style="padding: 1rem; width: 327px;" />
        </div>
    </header>

    <section>
    </section>
</div>